/node_modules
/public/hot
/public/storage
/public/exposawit2021
/public/directory
/public/PalmOilXtion.apk
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
